* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
  }

body {
    background : black;
    color : white;

    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;

    
    
}

.hide, 
.hideClose
{
    
    visibility: hidden;
}

.communication {
    text-align: center;
}

#questionPlaceHolder, .choices, #questions, #close
{
    text-align: center;
}

#main { 
    margin: 0 auto 50px auto;
    width: 100%;
    padding: 30px;
    color: #ffffff;
    background: #003459;
    border-bottom: 3px solid #00a8e8;
    text-align: center;
  }

  
#articles{
    max-width: 80%;
    margin: 0 auto;
  }

  
.artTitle {
    /* text-decoration: underline #003459; */
    margin-bottom: 15px;
  }

  
article {
    margin: 20px auto;
    padding: 20px;
    /* border: 3px solid #00a8e8; */
    overflow: auto;
  }

  .fashion {
    height: 276px;
    width: 400px;
    float: left;
    margin-right: 20px;
    border: 2px white;
  }

  #close {
    margin-bottom: 500px;
    align-items: baseline;
  }

@media screen and (max-width: 768px) {
    .btn-secondary {
        font-size: .75rem;
    }
}